/* hi style*/
h1 {
  color: black;
  text-shadow: 2px 2px;
}
/*body style */
.container {
  background-color: white;
}

.form {
  background-color: whitesmoke;
}

/*response style */
.responsive {
  width: 100%;
  height: auto;
}

/* footer style */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
